//
   Created by lenovo-pc on 2017/2/24.
.aside
    .menu
        ul#menuUl
            li#course
                span
                | 全部课程
            li.subCourse
                a(data-index='0',data-value='线性表') 线性表
                p
                    span 顺序表
                    span 链表
            li.subCourse
                a(data-index='1',data-value='栈和队列') 栈和队列
                p
                    span 栈
                    span 队列
            li.subCourse
                a(data-index='2',data-value='树和二叉树') 树和二叉树
                p
                    span 树
                    span 二叉树
            li.subCourse
                a(data-index='3',data-value='图') 图
                p
                    span 图的定义
                    span 图的遍历
            li.subCourse
                a(data-index='4',data-value='查找') 查找
                p
                    span 静态查找表
                    span 动态查找表
            li.subCourse
                a(data-index='5',data-value='排序') 排序
                p
                    span 插入排序
                    span 快速排序
#submenu
