//
   Created by lenovo-pc on 2017/2/24.
.aside
    .menu
        ul
            li.course
                span
                | 全部课程
            li.subCourse
                a 课程
                p
                    span 类目1
                    span 类目2
            li.subCourse
                a 课程
                p
                    span 类目1
                    span 类目2
            li.subCourse
                a 课程
                p
                    span 类目1
                    span 类目2
            li.subCourse
                a 课程
                p
                    span 类目1
                    span 类目2
            li.subCourse
                a(href="") 课程
                p
                    span 类目1
                    span 类目2
            li.subCourse
                a 课程
                p
                    span 类目1
                    span 类目2

