//
   Created by lenovo-pc on 2017/2/25.

.commentContainer 评论
    .commentList.clear
        .picBox
            img(src='/img/0.jpg')
        .commentBox
            p.firstLine
                a.personName 评论者1
                a.zan
            p.secondLine Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
            p.thirdLine
                span 2017-1-1
                span
                    a.reply 回复





