//
   Created by lenovo-pc on 2017/2/25.

.courseContent
    input(type="hidden",name="resource[id]",value="#{resource._id}")
    .shareBlock
        if video
            include ../includes/video
        if document
            include ../includes/document
        if test
            include ../includes/test
    .publish.clear
        form#commentForm(method="POST",action="/user/comment")
            input(type="text",name="comment[resource]",value="#{resource._id}")
            .form-group
                textarea.form-control(type='text',name="comment[content]")
                button.btn(type="submit") 发布
    .commentBlock
        include ../includes/comment