//
   Created by lenovo-pc on 2017/2/25.

.courseContent
    //input(type="hidden",name="resource[id]",value="#{resource._id}")
    .shareBlock
        if resource.type==1
            include ../includes/video
        if resource.type==2
            include ../includes/document
        if resource.type==3
            include ../includes/test
    .publish.clear
        form#commentForm(method="POST",action="/user/doComment")
            //input(type="text",name="comment[resource]",value= resource._id)
            .form-group
                textarea.form-control(type='text',name="comment[content]")
                button.btn(type="submit") 发布
    .commentBlock
        include ../includes/comment