//
   Created by lenovo-pc on 2017/2/25.

.courseContent
    .shareBlock
        //if video
        //    include ../includes/video
        //if document
        //    include ../includes/document
        //if test
        //    include ../includes/test
    .publish.clear
        .form-group
            textarea.form-control(type='text')
            button.btn 发布