//
   Created by lenovo-pc on 2017/2/28.

#errorbg
    #errorMessage
        p.errorTitle 提示
        p#errorMes 我在这里
        p.errorBtnBox
            button#errorBtn.btn.btn-success(type="button") 我知道了