//
   Created by lenovo-pc on 2017/2/24.
//
   Created by lenovo-pc on 2017/2/23.
.header
    .header-panel.clear
        .logo
        .panel-right
            .search-box
                .searchKey
                    input(name="searchKey",type="text",placeholder="搜索感兴趣的课程")
                .search-icon
                    img(src="/img/blank.png")
            .login-panel
                if user
                    a.login-text(href="/user")= user.name
                    a#loginout.loginout(href="/") 退出
                else
                    a.data-aim.navbar-link(href="javascript:void(0);",data-aim="#signupModal") 注册
                    span |
                    a.data-aim.navbar-link(href="javascript:void(0);",data-aim="#signinModal") 登录
#signupModal.modelAim
    .modal-dialog
        .modal-content
            .modal-header 注册
            .modal-body
                .form-group
                    label(for="signupName") 用户名：
                    input#signupName.form-control(name="user[name]",type="text")
                .form-group
                    label(for="signupPassword") 密码：
                    input#signupPassword.form-control(name="user[password]",type="text")
            .modal-footer
                button.closeBtn.btn.btn-default(type="button",data-dismiss="modal") 关闭
                button#signupSubmit.btn.btn-primary() 注册
#signinModal.modelAim
    .modal-dialog
        .modal-content
            .modal-header 登录
            .modal-body
                .form-group
                    label(for="signinName") 用户名：
                    input#signinName.form-control(name="user[name]",type="text")
                .form-group
                    label(for="signinPassword") 密码：
                    input#signinPassword.form-control(name="user[password]",type="password")
            .modal-footer
                button.closeBtn.btn.btn-default(type="button",data-dismiss="modal") 关闭
                button#signinSubmit.btn.btn-success() 登录




