//
   Created by lenovo-pc on 2017/2/24.
//
   Created by lenovo-pc on 2017/2/23.
.header
    .header-panel.clear
        .logo
        .panel-right
            .search-box
                .searchKey
                    input(name="searchKey",type="text",placeholder="搜索感兴趣的课程")
                .search-icon
                    img(src="/img/blank.png")
            .login-panel
                if user
                    input(type="hidden",name="user[id]",value="#{user._id}")
                    a.login-text(href="/user")= user.name
                    a#loginout.loginout(href="/user/loginout") 退出
                else
                    a.navbar-link(href="#",data-toggle="modal",data-target="#signupModal") 注册
                    span &nbsp;|&nbsp;
                    a.navbar-link(href="#",data-toggle="modal",data-target="#signinModal") 登录
#signupModal.modal.fade
    .modal-dialog
        .modal-content
            form#signupForm(method="POST",action="/user/signup")
                .modal-header 注册
                .modal-body
                    .form-group
                        label(for="signupName") 用户名
                        input#signupName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signupPassword") 密码
                        input#signupPassword.form-control(name="user[password]",type="password")
                .modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-primary(type="submit") 注册
#signinModal.modal.fade
    .modal-dialog
        .modal-content
            form#signinForm(method="POST",action="/user/signin")
                .modal-header 登录
                .modal-body
                    .form-group
                        label(for="signinName") 用户名
                        input#signinName.form-control(name="user[name]",type="text")
                    .form-group
                        label(for="signinPassword") 密码
                        input#signinPassword.form-control(name="user[password]",type="text")
                .modal-footer
                    button.btn.btn-default(type="button",data-dismiss="modal") 关闭
                    button.btn.btn-success(type="submit") 登录




