//
   Created by lenovo-pc on 2017/2/25.

a.sumCourse.clear
    .courseLeft
        .courseFirst
            span.courseName 课程名字
            span.collect
            span.comment
            span.zan
        .courseSecond
            .courseDetail
                span 内容类型
                p 视频
            .courseDetail
                span 课程分类
                p 栈和队列
            .courseDetail
                span 课程简介
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
    .courseRight
        img(src='/img/0.jpg')
