//
   Created by lenovo-pc on 2017/2/25.

each item in resources
    .sumCourseContainer.clear
        .courseLeft
            .courseFirst
                a.courseName #{item.title}
            .courseSecond
                .courseDetail.clear
                    span 内容类型
                    if item.type == 1
                        p 视频
                    if item.type == 2
                        p 文档
                    if item.type == 3
                        p 在线测试
                .courseDetail.clear
                    span 课程分类
                    p #{item.subjection}
                .courseDetail.clear
                    span 课程简介
                    p #{item.summary}
        .courseRight
            img(src='/img/0.jpg')
