//
   Created by lenovo-pc on 2017/2/25.
.summarizeContainer
    .summarizeTop.clear
        a.test(href='/summarize/3') 测试
        a.document(href='/summarize/2') 文档
        a.video(href='/summarize/1') 视频
    .sumContainer.clear
        include ../includes/sumCourse

