//
   Created by lenovo-pc on 2017/2/23.

doctype
html
    head
        block title
        block style
            link(rel='stylesheet',href='/stylesheets/general.css')
            link(rel='stylesheet',href='/stylesheets/footer.css')
    body
        include includes/footer
        block script
