.menu ul{
    width:220px;
    border:1px solid #E4E4E4;
    position:relative;
}
.menu ul li{
    width:220px;
    height:70px;
    padding:0 15px;
    font-size:16px;
    border-bottom:2px solid #fff;
    background-color:#ECF0F1;
}
.menu ul li:last-child{
    height:71px;
    border-bottom:none;
}
.menu ul #course{
    height:52px;
    line-height:50px;
}
.menu ul #course span{
    display:inline-block;
    width:28px;
    height:50px;
    background:url('/img/hamburger.png') no-repeat 0 16px;
    vertical-align:bottom;
}
.menu ul .subCourse a,
.menu ul .subCourse p{
    display:block;
    width:100%;
    height:35px;
    line-height:35px;
}
.menu ul .subCourse a{
    cursor:pointer;
    line-height:48px;
    background:url('/img/crumb.png') no-repeat 100% 15px;
    background-size:20px;
}
.menu ul .subCourse p span{
    display:inline-block;
    margin-right:20px;
    font-size:14px;
}
#submenu{
    display:none;
    padding:20px;
    position:relative;
    left:221px;
    top:-425px;
    background:rgba(233,233,233,.5);
}
#submenu ul{
    height:30px;
    line-height:30px;
}
#submenu ul li{
    display:inline-block;
    margin-right:20px;
    font-size:15px;
}
#submenu ul li:nth-child(1){
    font-weight:bold;
}
#submenu ul li a{
    cursor:pointer;
}
