.sumCourseContainer{
    cursor:pointer;
    padding:5px 0 20px 0;
    width:100%;
    border-top:1px solid #D7DCDE;
}
.courseLeft{
    float:left;
    width:620px;
}
.courseLeft .courseFirst{
    height:24px;
    line-height:24px;
}
.courseName{
    display:inline-block;
    width:520px;
    height:24px;
    font-size:16px;
    color:#2F4B93;
}
.courseFirst a:not(.courseName){
    display:inline-block;
    width:20px;
    height:20px;
    margin-left:10px;
    vertical-align:bottom;
}
.courseFirst a span:not(.courseName){
    display:inline-block;
    width:20px;
    height:20px;
}

.courseSecond{
    float:left;
    width:620px;
    font-size:14px;
    color:#333;
}
.courseSecond .courseDetail {
    padding-top:15px;
}
.courseSecond .courseDetail span{
    display:inline-block;
    float:left;
    height:20px;
    padding-right:20px;
}
.courseSecond .courseDetail p{
    display:inline-block;
    width:495px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*溢出等咯号隐藏*/
    word-wrap:break-word;
    word-break:break-all;
    /*强制换行*/
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    line-height:1.2;
}
.courseRight{
    float:right;
    width:160px;
    height:160px;
    margin-top:5px;
    margin-left:20px;
}
.courseRight img{
    width:160px;
    height:160px;
}
.courseFirst a:nth-child(2) span{
    background:url('/img/icon.png') no-repeat 0 -72px;
    background-size:18px;
}
.courseFirst a:nth-child(3) span{
    background:url('/img/icon.png') no-repeat 0 -36px;
    background-size:18px;
}
.courseFirst a:nth-child(4) span{
    background:url('/img/icon.png') no-repeat 0 0px;
    background-size:18px;
}
.courseFirst a:nth-child(2) span:hover{
    background:url('/img/icon.png') no-repeat 0 -101px;
}
.courseFirst a:nth-child(3) span:hover{
    background:url('/img/icon.png') no-repeat 0 -61px;
}
.courseFirst a:nth-child(4) span:hover{
    background:url('/img/icon.png') no-repeat 0 -22px;
}
.courseFirst a:nth-child(2) span.active{
    background:url('/img/icon.png') no-repeat 0 -101px;
}
.courseFirst a:nth-child(3) span.active{
    background:url('/img/icon.png') no-repeat 0 -61px;
}
.courseFirst a:nth-child(4) span.active{
    background:url('/img/icon.png') no-repeat 0 -22px;
}

