.sumCourseContainer{
    padding:5px 0 20px 0;
    width:100%;
    border-top:1px solid #D7DCDE;
}
.courseLeft{
    float:left;
    width:620px;
}
.courseLeft .courseFirst{
    height:24px;
    line-height:24px;
}
.courseName{
    display:inline-block;
    width:480px;
    height:24px;
    font-size:16px;
    color:#2F4B93;
    margin-right:20px;
}
.courseFirst #zan,
.courseFirst #comment,
.courseFirst #collect{
    display:inline-block;
    width:40px;
    height:16px;
    line-height:16px;
    margin-top:8px;
    padding-left:20px;
    color:#2F4B93;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    cursor:pointer;
    vertical-align:middle;
}
.courseSecond{
    float:left;
    width:620px;
    font-size:14px;
    color:#333;
}
.courseSecond .courseDetail {
    padding-top:15px;
}
.courseSecond .courseDetail span{
    display:inline-block;
    float:left;
    height:20px;
    padding-right:20px;
}
.courseSecond .courseDetail p{
    display:inline-block;
    width:495px;
    overflow:hidden;
    text-overflow:ellipsis;
    /*溢出等咯号隐藏*/
    word-wrap:break-word;
    word-break:break-all;
    /*强制换行*/
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
    line-height:1.2;
}
.courseRight{
    float:right;
    width:160px;
    height:160px;
    margin-top:5px;
    margin-left:20px;
}
.courseRight img{
    width:160px;
    height:160px;
}
.courseFirst #zan{
    background:url('/img/icon.png') no-repeat 0 -60px ;
    background-size:15px;
}
.courseFirst #zan .active{
    background:url('/img/icon.png') no-repeat 0 -75px ;
    background-size:15px;
}
.courseFirst #comment{
    background:url('/img/icon.png') no-repeat 0 -30px ;
    background-size:15px;
}
.courseFirst #comment .active{
    background:url('/img/icon.png') no-repeat 0 -45px ;
    background-size:15px;
}
.courseFirst #collect{
    background:url('/img/icon.png') no-repeat 0 0px ;
    background-size:15px;
}
.courseFirst #collect .active{
    background:url('/img/icon.png') no-repeat 0 -15px ;
    background-size:15px;
}
