//
   Created by lenovo-pc on 2017/2/23.
extend ../layout

block append style
    link(rel='stylesheet',href='/stylesheets/index.css')
    link(rel='stylesheet',href='/stylesheets/aside.css')
    link(rel='stylesheet',href='/stylesheets/enter.css')
    link(rel='stylesheet',href='/stylesheets/carousel.css')
block content
    include ../includes/header
    .contentContainer
        .carouselBgBox
        .marginBox
            .carousel-block
                include ../includes/carousel
            .aside-block
                include ../includes/aside
            .enter-block
                include ../includes/enter




