//
   Created by lenovo-pc on 2017/2/24.
extend ../layout

block append style
    link(rel='stylesheet',href='/stylesheets/head.css')
    link(rel='stylesheet',href='/stylesheets/bodyColor.css')
    link(rel='stylesheet',href='/stylesheets/coursetable.css')
    link(rel='stylesheet',href='/stylesheets/courseContent.css')
    link(rel='stylesheet',href='/stylesheets/comment.css')
    link(rel='stylesheet',href='/stylesheets/test.css')
block content
        include ../includes/header
        include ../includes/courseContent
        include ../includes/coursetable
block append script
    script(src='/js/pdfobject.min.js')
    script(src='/js/reply.js')
    script(src='/js/zan.js')
    script(src='/js/test.js')
    script(src='/js/header.js')
    script(src='/js/doc.js')

