
//
   Created by lenovo-pc on 2017/2/25.
extend ../layout

block append style
    link(rel='stylesheet',href='/stylesheets/bodyColor.css')
    link(rel='stylesheet',href='/stylesheets/head.css')
    link(rel='stylesheet',href='/stylesheets/summarizeBlock.css')
    link(rel='stylesheet',href='/stylesheets/sumCourse.css')
    link(rel='stylesheet',href='/stylesheets/userCourse.css')
    link(rel='stylesheet',href='/stylesheets/userBlock.css')
block content
    include ../includes/header
    include ../includes/userCourse
    include ../includes/userBlock
block append script
    script(src='/js/header.js')
